<form action = "/search" method = "GET">
    <div class="field has-addons">
        <div class="control">
            <input class="input is-large is-dark" type="text" name="query" placeholder="Search all horror movies...">
        </div>
        <div class="control">
            <button type="submit" class="button is-medium is-danger">Search</button>
        </div>
    </div>
        <h1 class="titles">{{title}}</h1>
          {{#each movies}}
  <div class="columns level">
  <div class="column">
    <h2 class="movieTitle">{{this.title}}</h2>
    <img src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}" alt="{{this.title}} poster">
    <p class="movieP">{{this.overview}}</p>
    <a href="/movie/{{this.id}}">View details</a>

     <form action="/api/watchlist" method="post">
        <input type="hidden" name="user_id" value="{{user_id}}">
        <input type="hidden" name="movie_title" value="{{this.title}}">
        <input type="hidden" name="movie_id" value="{{this.id}}">
        <input type="submit" value="Add to Watchlist">
        </form>
  </div>

 <div class="columns">
  <div class="column">
    <p class="trendingText">Classics</p>
    <a href="#">
      <img class='subImg' src="https://image.tmdb.org/t/p/w500/{{this.poster_path}}">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
  </div>

  <div class="column">
    <p class="trendingText">Slasher</p>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
  </div>

  <div class="column">
    <p class="trendingText">Paranormal</p>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
  </div>

  <div class="column">
    <p class="trendingText">J-Horror</p>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
  </div>

    <div class="column">
    <p class="trendingText">Possession</p>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
        <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
        <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
        <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
        <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
  </div>
</div>
          {{/each}}
</div>
