<section class="hero is-fullheight">
<header class="himg">
    <nav class="level hnav">
        <button class="bulma-hamburger-mixin">
        <span></span>
        <span></span>
        <span></span>
        </button>
            <p class="level-item has-text-centered">
                <a class="headers maintitle is-size-1">House of Horrors</a>
            </p>
            <p class="level-item has-text-centered">
                <a href="about.handlebars" class="link is-info navitem">About</a>
            </p>
            <p class="level-item has-text-centered">
                <a href="watchlist.handlebars" class="link is-info navitem">My Watchlist</a>
            </p>
            <p class="level-item has-text-centered">
                <a href="reviews.handlebars" class="link is-info navitem">Submit Review</a>
            </p>
            <p class="level-item has-text-centered">
                <a href="login.handlebars" class="link is-info navitem">Login</a>
                <a class="js-modal-trigger navitem" data-target="modal-js-example"></a>
            </p>
        </nav>
</header>
<form action = "/search" method = "GET">
    <div class="field has-addons">
        <div class="control">
            <input class="input is-large is-dark" type="text" placeholder="Search all horror movies...">
        </div>
        <div class="control">
            <button class="button is-large is-danger">Search</button>
        </div>
    </div>
        
<div>
    <h1>{{title}}</h1>
          {{#each movies}}
  <div>
    <h2>{{title}}</h2>
    <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{title}} poster">
    <p>{{overview}}</p>
    <a href="/movie/{{id}}">View details</a>
  </div>
          {{/each}}
</div>

<div class="columns">
  <div class="column">
    <p class="subgenre is-size-4 has-text-danger">Classics</p>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
  </div>

  <div class="column">
    <p class="subgenre is-size-4 has-text-danger">Slasher</p>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
  </div>

  <div class="column">
    <p class=" subgenre2 is-size-4 has-text-danger">Paranormal</p>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
  </div>

  <div class="column">
    <p class="subgenre3 is-size-4 has-text-danger">J-Horror</p>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
  </div>

    <div class="column">
    <p class="subgenre4 is-size-4 has-text-danger">Possession</p>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
        <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
        <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
        <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
        <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
  </div>
</div>

<footer>
    <div>
        <p>
            Website Created by
            <a class="has-text-danger" href="https://github.com/daniferru">daniferru</a>, 
            <a class="has-text-danger" href="https://github.com/Bentto90">Bentto90</a>, 
            <a class="has-text-danger" href="https://github.com/AntonioRobledo">AntonioRobledo</a>, 
            <a class="has-text-danger" href="https://github.com/Esfan7">Esfan7</a>, 
            <a class="has-text-danger" href="https://github.com/BigNATE38">BigNATE38.</a>
        </p>
        <p>2023</p>
    </div>
</footer>
</iframe>