<form action = "/search" method = "GET">
    <div class="field has-addons">
        <div class="control">
            <input class="searchBar input is-large is-dark" type="text" name="query" placeholder="Search all horror movies...">
        </div>
        <div class="control">
            <button type="submit" class="button is-medium is-danger">Search</button>
        </div>
    </div>
        <h1 class="titles">{{title}}</h1>
          {{#each movies}}
  <div class="columns level">
  <div class="column">
{{!--     <h2 class="movieTitle">{{title}}</h2>
    <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{title}} poster">
    <p class="movieP">{{overview}}</p>
    <a href="/movie/{{id}}">View details</a> --}}
        {{/each}}

 <div class="columns">
  <div class="column">
    <p class="trendingText">Classics</p> 
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
  </div>

  <div class="column">
    <p class="trendingText">Slasher</p>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
  </div>

  <div class="column">
    <p class="trendingText">Paranormal</p>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
  </div>

  <div class="column">
    <p class="trendingText">J-Horror</p>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
  </div>

    <div class="column">
    <p class="trendingText">Possession</p>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
    <a href="#">
      <img class='subImg' src="https://bulma.io/images/placeholders/128x128.png">
    </a>
  </div>
</div>
      
</div>
  </div>
