<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../public/css/style.css">
  <title>{{ movie.title }}</title>

</head>
<body>
  <div>
  <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.title }} poster">
  <p>{{ movie.overview }}</p>
  <p>Release date: {{ movie.release_date }}</p>
  <p>Runtime: {{ movie.runtime }} minutes</p>
  <p>Rating: {{ movie.vote_average }}/10 ({{ movie.vote_count }} votes)</p>
  <a href="/">Add to Watchlist</a>
  <a href="/">Back to Homepage</a>
</body>
</html>
