    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    {{#each movies}}
        <div>
            <h2>{{ title }}</h2>
            {{#if poster_path}}
                <img src="https://image.tmdb.org/t/p/w500/{{ poster_path }}" alt="{{ title }} poster">
            {{else}}
                <p>No poster available</p>
            {{/if}}
            <p>{{ overview }}</p>
        </div>
    {{/each}}
</body>
